footer {
    margin-bottom: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

.cont{
    margin-left: 50px;
    margin-top: 30px;
}

.link-entry{
    margin-top: 30px;
}