<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spotify2Mp3</title>
</head>

<body>
    <h1>Download MP3 from Spotify Playlist</h1>
    <form action="genmp3" method="post">
        <b>Note: be patient while playlist is downloading</b>
        <div>Spotify Playlist Link:</div> <input name="url">
        <input type="submit" value="Submit">
    </form>

</body>

<footer>
    <p>Made by Noah Vendrig 2022</p>
    <a href="http://noahvendrig.com">noahvendrig.com</a>

</footer>

</html>