<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spotify2Mp3 App</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="cont">
        <h1>Download MP3 from Spotify Playlist</h1>
        <form action="generate" method="post">
            <b>Note: You will be taken to the download page when the program has finished generating</b>
            <div class="link-entry">Spotify Playlist Link:</div> <input name="url">
            <input type="submit" value="Submit">
        </form>
        

        {% if playlist_url %}
        <p id="playlist">{{ playlist_url }}</p>
        {% endif %}
        <p id="playlist">{{ playlist_url }}</p>
        <!-- <div class="playlist"></div> -->
    </div>
    

</body>

<footer>
    <p>Made by Noah Vendrig 2022-23</p>
    <a href="http://noahvendrig.com">noahvendrig.com</a>

</footer>

</html>